body{
	font-family"微软雅黑,宋体";
	background: rgb(255,255,255);
}

a{
	text-decoration: none;
}

/***********************左侧菜单栏***********************/
.left-panel{
	width: 160px;
	background: rgb(25,24,24);
	top: 0px;
	bottom: 0px;
	position: fixed;
	left: 0px;
	color: rgb(153,153,153);
	overflow-y: auto;
	float: left;
}

/*左侧菜单栏头部*/
.panel-heading{
	font-size: 125%;
	font-weight: 300;
	letter-spacing: 0.1em;
	color: rgb(255,255,255);
	margin-top: 0px;
	padding: 0.5em 0.8em;
}

.panel-heading a{color: rgb(255,255,255);}

.panel-heading a:hover,.panel-heading:hover{
	color: rgb(153,153,153);
	cursor: pointer;
}

/*左侧菜单栏头部以下*/
.menu-list{
	list-style: outside none none;
	margin-top: 0px;
	margin-bottom: 0px;
	border-top: 1px solid rgb(51,51,51);
	font-size: 14px;
}

.menu-list li{
	border: medium none;
	white-space: normal;
	padding: 0.625em 1em;
	margin-left: -40px;
}

.menu-list li:hover{
	cursor:pointer;
}

.normal:hover{
	background: rgb(51,51,51);
	cursor: pointer;
}

.active{
	background: rgb(31,141,214);
	color: rgb(255,255,255);
	cursor: pointer;
}

/***********************右边主体************************/
.main{
	margin-left: 160px;
}

.content-panel{
	width: 700px;
	height: 150px;
	margin: 0 auto;
	text-align: center;
}

/*右边主页头部*/
.content-heading{border-bottom: 1px solid rgb(230,230,230);}

.content-heading h1{
	font-size: 200%;
	font-weight: lighter;
	color: rgb(75,75,75);
}

.content-heading h3{
	font-size: 110%;
	color: rgb(60,60,60);
	letter-spacing: -0.02em;
	font-weight: lighter;
}

.heading-title{
	font-size: 26px;
	color: rgb(75,75,75);
}

.img-desc{
	font-size: 16px;
	color: rgb(119,119,119);
}

/*图片详细描述区域*/

.content-detail{
	text-align: left;
	width: 500px;
	margin: 0 auto;
	margin-top: 20px;
	color: rgb(119,119,119);
	border-bottom: 1px solid rgb(230,230,230);
}

.de-title{
	font-size: 20px;
	text-align: center;
}

.de-desc{
	font-size: 14px;
	text-align: center;
}

/*右边显示图片区域*/
.content-body-img{
	margin-top: 10px;
	text-align: center;
	color: rgb(119,119,119);
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 10px;
}

.content-body-img img{
	width: 500px;
	height:500px; 
}

.content-body-img img:hover{cursor: pointer;}

/*标签区域*/

.content-tags{
	border: 1px solid rgb(230,230,230);
	background: rgb(250,250,250);
	margin: 0 auto;
	margin-bottom: 20px;
	width: 500px;
	overflow-y: auto;
}

.tags{
	list-style: none;
	float: left;
	margin-left: -20px;
}

.tags li{
	float: left;
	margin-right: 20px;
	color: rgb(37,143,184);
	font-size: 14px;
}

.ds-thread{
	margin-left: 160px;
	position: absolute;
	bottom: 0px;
}

.quota{
	background: rgb(31,141,214);
	border-radius: 4px;
	padding: 10px;
	width: 500px;
	margin: 0 auto;
	margin-bottom: 10px;
}

.quota a{color: rgb(255,255,255);}

.quotactive{
	background: rgb(31,141,241);
	cursor: pointer;
}

.searchform{
	width: 350px;
	height: 30px;
	font-size: 14px;
	font-family: '微软雅黑';
	border: 1px solid rgb(204,204,204);
	box-shadow: none;
	border-radius: 2px;
}

.btn{
	font-family: '微软雅黑';
	width: 50px;
	height:34px;
	background: rgb(233,233,233);
	outline: medium none;
	font-size: 14px;
	list-style: outside none none;
	border: 1px solid rgb(204,204,204);
	margin-left: -6px;
}

.btn:hover{
	cursor: pointer;
	background: rgb(252,252,252);
}

.twothreeeeight{
	background: rgb(250,250,250);
	border: 1px solid rgb(230,230,230);
}

/*历史记录*/
.memo-top{
	border:1px solid rgb(230,230,230);
	padding: 20px;
	background: rgb(250,250,250);
}

.m-h-t{font-size: 20px;}

.line-box{
	border-bottom: 1px solid rgb(230,230,230);
	margin-top: -14px;
	margin-left: 90px;
}

.memo-content{margin-top: 20px;}

.memo-box{
	border:1px solid rgb(230,230,230);
	background: rgb(250,250,250);
	margin-bottom: 10px;
	height: 110px;
}

.memo-left{
	float: left;
	padding: 10px;
	width: 160px;
	height: 100px;
}

.memo-right{float: left;padding: 10px;}

.memo-right-head{font-size: 20px;}

.memo-right-head a{color: rgb(51,51,51);}

.memo-right-head a:hover{color: rgb(153,153,153);}

.memo-right-desc{
	font-size: 14px;
	color: rgb(171,171,171);
	margin-top: 5px;
}

.memo-time{
	margin-left: 20px;
	color: rgb(102,102,102);
}

.memo-right-tags{
	color: rgb(95,95,95);
	font-size: 15px;
	border-top: 1px solid rgb(216,216,216);
	margin-top: 10px;
	padding: 10px;
}

.memo-page{
	border:1px solid rgb(230,230,230);
	background: rgb(250,250,250);
	padding: 10px;
	text-align: center;
	color: rgb(85,167,199);
}
